._80gt{color:#000;font-size:18px;font-weight:normal;line-height:19px}._80gu{color:#1d2129;font-size:34px;line-height:40px}._80gx{width:302px}._814l{min-height:612px}
.uiHeader h2 a._83k5{color:#365899;font:14px 'SFUIText-Regular';margin:6px}._83k6{color:#4b4f56;font:14px 'SFUIText-Bold';margin:6px}/*FB_PKG_DELIM*/

#bootloader_6yyCEtW{height:42px;}.bootloader_6yyCEtW{display:block!important;}